.book-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

  gap: 20px;

  /* padding: 10px; */
  background-color: rgb(216, 243, 252);
  list-style-type: none;
}
.book-list ul li {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(146, 187, 146);
  /* height: 44vh; */
}

.book-btns {
  display: flex;
  justify-content: space-evenly;
}

.book-btns button {
  justify-content: space-evenly;
  cursor: pointer;
  border: none;
  background-color: #fefee7;
  border-radius: 10px;
  transition: 0.3s;
}

.book-btns button:hover {
  background-color: #e4e4ca;
  scale: 1.1;
}
