.book-edit {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 35vw;
  margin: auto;
  margin-top: 20px;
}

.book-edit form {
  display: grid;
  gap: 20px;

  /* background-color: rgb(250, 212, 142); */
}

.book-edit form button {
  justify-self: center;
}
