.book-details {
  position: fixed;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 10px;
  width: 60%;
  padding: 10px;
  background-color: rgb(249, 242, 255);
  border-radius: 15px;
  /* overflow-y: scroll; */
}

.book-details h2,
.book-details h3 {
  text-align: center;
}

.book-details h2 {
  font-size: 2em;
  font-weight: bolder;
}

.book-details p {
  text-align: left;
}

.book-details .page-count-txt {
  text-align: center;
}
.book-details .date {
  text-align: center;
}

.book-details img {
  border-radius: 15px;
  width: 50%;
  justify-self: center;
}
.book-details button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: rgb(212, 244, 212);
  justify-self: center;
  transition: 0.2s;
}

.book-details button:hover {
  scale: 1.1;
  background-color: rgb(179, 217, 179);
}

.review-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: azure;
  padding: 10px;
}

.review-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container button {
  display: block;
  width: 10vw;
  background-color: rgb(200, 249, 249);
}

/*  */
.book-details .reviews-container {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  gap: 0.5em;
}

.book-details .reviews-container li {
  padding: 0.2em;
  border: 1px solid black;
  display: flex;
  /* gap: 2em; */
  justify-content: space-around;
}
