.book-filter {
  height: 15vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;
}
