.book-edit {
  background-color: antiquewhite;
  width: 30vw;
  text-align: center;
  padding: 10px;
}

.book-edit form {
  display: grid;
  /* justify-items: start; */
  gap: 20px;

  /* background-color: rgb(250, 212, 142); */
}
/* .book-edit form button { */
/* justify-self: center; */
/* } */
