.book-preview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  color: aliceblue;
  /* height: 100px; */
}

.book-preview h2 {
  flex-grow: 1;
}

.book-preview img {
  margin: 0 auto;
  border-radius: 15px;
  width: 70%;
}

.red {
  color: rgb(199, 52, 52);
}

.green {
  color: rgb(90, 146, 90);
}
