.book-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 10px;
  width: 80%;
  padding: 8px;
  background-color: rgb(238, 224, 248);
  border-radius: 15px;
  /* margin-block-start: 10px; */
}

.book-details h2,
.book-details h3 {
  text-align: center;
}

.book-details h2 {
  font-size: 2em;
  font-weight: bolder;
}

.book-details img {
  border-radius: 15px;
  justify-self: center;
}
.book-details button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: rgb(212, 244, 212);
  justify-self: center;
  transition: 0.2s;
}

.book-details button:hover {
  scale: 1.1;
  background-color: rgb(179, 217, 179);
}
