.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.container {
  /* max-width: 1100px; */
  /* padding: 1em; */
  margin: auto;
}

.ew {
  min-height: calc(93vh - 3rem);
}

.home-page h1 {
  text-align: center;
}
